@model List<Notification>

@{
    ViewData["Title"] = "UserNotifications";
    Layout = "~/Views/Shared/_LayoutAcademic.cshtml";
}


<h2>User Notifications</h2>

@if (Model == null || Model.Count == 0)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Message</th>
                <th>Read</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var notification in Model)
            {
                <tr>
                    <td>@notification.Title</td>
                    <td>@notification.Message</td>
                    <td>@(notification.IsRead ? "Yes" : "No")</td>
                    <td>
                        @if (!notification.IsRead)
                        {
                            <a href="@Url.Action("MarkAsRead", new { notificationId = notification.NotificationId })" class="btn btn-primary">Mark as Read</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


