@model IEnumerable<AppRole>

@{
    ViewData["Title"] = "Roller";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Rol Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a href="@Url.Action("EditRole", "Role", new { roleId = role.Id })" class="btn btn-warning btn-sm">Düzenle</a>
                    <a href="@Url.Action("DeleteRole", "Role", new { roleId = role.Id })" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("CreateRole", "Role")" class="btn btn-success">Yeni Rol Oluştur</a>
